# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Logs
logs/
*.log
log/
debug.log
error.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
/dist
/build
/public/build
/client/build

# Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# MongoDB data (if using local database)
data/
dump/

# Next.js (if applicable)
.next/

# React Native (if applicable)
.expo/
.expo-shared/

# Misc
Thumbs.db

